<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Input Types</title>
</head>
<body>

<form>

    <input type="text" placeholder="Text"><br>
    <input type="password" placeholder="Password"><br>
    <input type="email" placeholder="Email"><br>
    <input type="number" placeholder="Number"><br>
    <input type="tel" placeholder="Phone"><br>
    <input type="url" placeholder="URL"><br>
    <input type="date"><br>
    <input type="color"><br>
    <input type="range"><br>
    <input type="file"><br>

    <input type="checkbox"> Checkbox<br>

    <input type="radio" name="r"> Radio 1
    <input type="radio" name="r"> Radio 2<br>

    <select>
        <option>Option 1</option>
        <option>Option 2</option>
    </select><br>

    <textarea placeholder="Your message"></textarea><br>

    <button type="submit">Submit</button>

</form>

</body>
</html>
