<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default Form Values</title>
</head>
<body>

<form>

    <input type="text" value="John"><br>
    <input type="password" value="password123"><br>
    <input type="number" value="10"><br>
    <input type="email" value="john@example.com"><br>

    <input type="checkbox" checked> Checkbox<br>
    <input type="radio" name="g" checked> Option<br>

    <select>
        <option selected>Default Option</option>
        <option>Another Option</option>
    </select><br>

    <textarea>Default text</textarea>

</form>

</body>
</html>
