<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Form</title>
  <link rel="stylesheet" href="styleQ7.css">
</head>
<body>

<h1>Card Form</h1>

<div class="card">
  <form>
    <label for="name">Name on Card</label>
    <input type="text" id="name" required>

    <label for="card">Card Number</label>
    <input type="text" id="card" required>

    <label for="exp">Expiry Date</label>
    <input type="month" id="exp" required>

    <label for="cvv">CVV</label>
    <input type="password" id="cvv" required>

    <button>Submit</button>
  </form>
</div>

</body>
</html>
