name: Deploy HTML Templates

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload static site
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./templates

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
